.cabecalho {
    display: flex;
    justify-content: space-between;
    top: 1em;
    margin: 1em;
    height: 3em;
    z-index: 1;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    margin: 0 1em 0 0;
	color: white;
    font-weight: 500;
}

.icone:hover {
	color: gray;
    transition: 500ms;
    background-color: white;
    border-radius: 20em;
    padding: 0.5em;
}

.logo {
    width: 8em;
    height: 2.5em;
    margin-right: 1em;
}

.container_pesquisar {
    display: flex;
}

.searchIcon {
    position: relative;
    top: 0.5em;
    left: 2.7em;
    width: 5em;
    height: 2em;
    color: white;
}

.searchIcon:hover {
    cursor: pointer;
}

.input {
    padding-left: 3em;
    width: 100%;
    border-color: white;
    background: transparent;
    color: white;
    font-weight: bold;
}

.input::placeholder {
    color: white;
}

.login {
    width: 3em;
    height: 3em;
    margin-left: 3em;
    border-radius: 20%;
}

.login {
    cursor: pointer;
}